.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}

@font-face {
  font-family: Wittgenseino;
  src: url("./assets/fonts/Wittgenstein-Italic-VariableFont_wght.ttf");
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}